.tasksec{
    display: flex;
    flex-direction: column;
}
.listoftasks{
    margin: 0;
    padding: 0;
}
.oneofthetasks{
    border: 1px solid black;
    background-color: #559187;
    list-style: none;
    margin-bottom: 10px;
    width: 330px;
    padding: 5px 8px;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottommain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circle{
    width: 20px;
    height: 20px;
    border: 2px solid #164A41;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
.circle.checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}
